<div id="<%= dom_id user %>">
<strong>Following:</strong>
  <%= user.followings%>
  |
  <strong>Followers:</strong>
  <%= user.followers%>
  <% if current_user != user%>
    |
<% if user.following %>
<%= link_to "Unfollow", user_follow_path(user), method: :post %>
<% else %>
<%= link_to "Follow", user_follow_path(user), method: :post %>
<% end %>
<%end%>
<p>
    <!--https://web.sfc.keio.ac.jp/~hattori/script-lang/image.html#active-storageを参考にした-->
    <% if user.profile_pic.attached? %>
      <%= image_tag url_for(user.profile_pic), height: 50 %>
    <% else %>
      No Image
    <% end %>
    <%= link_to user.name, users_edit_path(user) %>
  </p>
  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  
  
</div>
