<h1><%= @user.name %></h1>
<%= render @user %>
<% if current_user == @user%>
<br>
<strong>Edit user profile from here</strong>
<%= render "form", user: @user %>
<% end %>
<br>
<div id="blazos">
  <% @user.blazos.each do |blazo| %>
    <%= render blazo %>
    <p>
      <%= link_to "Read details", blazo %>
    </p>
    <br>
<% end %>
</div>