<div id="<%= dom_id blazo %>">
  <p>
    <strong>User:</strong>
    <!--今村翔太君に教えてもらいました-->
    <%= link_to blazo.user.name, users_update_path(blazo.user) %>
    <!--ここまで-->
  </p>

  <p>
    <strong>Abstract:</strong>
    <%= blazo.abstract %>
  </p>
  <p>
    <!--今村翔太君に教えてもらいました-->
    <strong>Likes: <%= blazo.likes.length %></strong>
    <%= link_to "Press this to like", likes_create_path(blazo), method: :post %>
    <!--ここまで-->
  </p>
</div>
