<p style="color: green"><%= notice %></p>

<%= render @blazo %>
<p>
  <strong>Content:</strong>
  <%= @blazo.content %>
</p>


<div>
  <% if current_user.id == @blazo.user_id%>
  <%= link_to "Edit this blazo", edit_blazo_path(@blazo) %>
  <%= button_to "Destroy this blazo", @blazo, method: :delete %> 
  <% end %>
</div>
