<!DOCTYPE html>
<html>
  <head>
    <title>Blazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="header">
  <!--https://free-materials.com/%e3%83%ad%e3%82%b404/ より取得-->
  <%= image_tag "https://free-materials.com/adm/wp-content/uploads/2020/10/logo_04.png", width: 150 %>
  <% if user_signed_in? %>
  <%= link_to "new blazo", new_blazo_path %>
  <%= link_to "timeline", root_path%>
  <%= link_to "recomended users", users_index_path%>
  <%= link_to "profile", users_edit_path(current_user) %>
  <%= link_to "account settings", edit_user_registration_path %>
  <%= link_to "logout", destroy_user_session_path%>
  <% end %>
  </div>
  <p class="notice", style="color: green"><%= notice %></p>
  <p class="alert", style="color: red"><%= alert %></p>
  <%= yield %>
  </body>
</html>
