<!DOCTYPE html>
<html>
  <head>
    <title>Blazon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= image_tag "https://3.bp.blogspot.com/-11Y99qavGno/ViipECPkPaI/AAAAAAAAzuw/0xx_rzRrtaY/s500/pop_kihon_muryou.png", width: 300 %>
    <% if user_signed_in? %>
  <%= link_to "timeline", root_path%>
  <%= link_to "profile", users_update_path(current_user.id) %>
  <%= link_to "account settings", edit_user_registration_path %>
  <%= link_to "sign out", destroy_user_session_path%>
    <% end %>
    <%= yield %>
  </body>
</html>
